/* src/styles/fonts.scss */

// Averia Serif Libre - Regular
@font-face {
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Averia Serif Libre - Italic
@font-face {
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; // <-- This tells the browser this file is for italics!
  font-display: swap;
}

// Open Sans - Variable
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

// Open Sans - Variable Italic
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: italic;
  font-display: swap;
}
