/* Top Navigation */
nav {
  grid-area: nav;
  display: grid;
  position: fixed;
  grid-template-areas: 'nav';
  grid-template-rows: minmax(min-content, 60px);
  padding: 10px;
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  place-items: center;
  justify-self: right;
  list-style-type: none;
  margin: -20px;
}

.nav-container {
  align-content: space-evenly;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.nav li {
  justify-self: right;
  color: var(--light);
  transition: color 0.5s;

  &:hover {
    color: var(--primary);
  }
}

.nav a {
  font-family: var(--serif-typeface), sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.3rem;
  text-align: center;
  text-decoration: none;
  color: var(--light);
  text-shadow:
    0 2px 3px rgb(0 0 0 / 100%),
    0 4px 13px rgb(0 0 0 / 50%),
    0 8px 23px rgb(0 0 0 / 20%);
  transition: color 0.5s;
  display: none;

  &:link,
  &:visited {
    color: var(--light);
  }

  &:hover,
  &:active {
    color: var(--primary);
  }
}

.nav i {
  display: inline-grid;
  font-size: 1.5em;
  padding-right: 30px;
}

.nav-button a:hover {
  color: var(--primary);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem; /* Use consistent spacing */

  img {
    width: clamp(64px, 12vw, 120px);
    height: auto;
    display: block;
  }

  h1 {
    font-size: 2em;
  }
}

/* Responsive Navigation - Mobile First */

.nav .icon {
  display: block;
  padding-right: 0;
  margin-right: auto;
}

.nav.responsive {
  display: block;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: black;
  margin: auto;

  .icon {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -24px;
    padding: 14px;
  }

  a {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  i {
    display: block;
    margin: 0;
  }
}

/* Tablet and up (37.5em = 600px) */
@media (width >= 37.5em) {
  .nav a {
    display: block;
  }

  .nav .icon {
    display: none;
  }

  .nav i {
    display: none;
  }

  header {
    margin-bottom: 10vh;
  }

  .nav.responsive {
    display: none;
  }

  .logo img {
    width: 60px;
  }
}

/* Desktop and up (64em = 1024px) */
@media (width >= 64em) {
  .nav a {
    font-size: 1.5em;
  }
}
